<section class="pokemon-search-section">

    <div class="LiveSearchContainer">
        <input class="PokemonSearchBox" type="text" />
        <div class="LiveSearchResults Hide" id="live-search">
        </div>
    </div>

</section>