@page
@model PokemonTeamAnalyzer.Pages.Forms.AddPokemonModel
@{
    ViewData["Title"] = "Add Pokemon";
}

<h1>Add Pokemon</h1>
<form method="post">

    <input type="text" asp-for="Pokemon.Name" placeholder="Pokemon Name" />

    <select asp-for="Pokemon.Type1">
        <option value="NORMAL">Normal</option>
        <option value="FIRE">Fire</option>
        <option value="WATER">Water</option>
        <option value="GRASS">Grass</option>
        <option value="ELECTRIC">Electric</option>
        <option value="ICE">Ice</option>
        <option value="FIGHTING">Fighting</option>
        <option value="POISON">Poison</option>
        <option value="GROUND">Ground</option>
        <option value="FLYING">Flying</option>
        <option value="PSYCHIC">Psychic</option>
        <option value="BUG">Bug</option>
        <option value="ROCK">Rock</option>
        <option value="GHOST">Ghost</option>
        <option value="DARK">Dark</option>
        <option value="DRAGON">Dragon</option>
        <option value="STEEL">Steel</option>
        <option value="FAIRY">Fairy</option>
    </select>
    <select asp-for="Pokemon.Type2">
        <option value="NONE">None</option>
        <option value="NORMAL">Normal</option>
        <option value="FIRE">Fire</option>
        <option value="WATER">Water</option>
        <option value="GRASS">Grass</option>
        <option value="ELECTRIC">Electric</option>
        <option value="ICE">Ice</option>
        <option value="FIGHTING">Fighting</option>
        <option value="POISON">Poison</option>
        <option value="GROUND">Ground</option>
        <option value="FLYING">Flying</option>
        <option value="PSYCHIC">Psychic</option>
        <option value="BUG">Bug</option>
        <option value="ROCK">Rock</option>
        <option value="GHOST">Ghost</option>
        <option value="DARK">Dark</option>
        <option value="DRAGON">Dragon</option>
        <option value="STEEL">Steel</option>
        <option value="FAIRY">Fairy</option>
    </select>

    <input type="text" asp-for="Pokemon.Ability1" placeholder="Ability 1" />
    <input type="text" asp-for="Pokemon.Ability2" placeholder="Ability 2" />
    <input type="text" asp-for="Pokemon.HiddenAbility" placeholder="Hidden Ability" />

    <input type="number" asp-for="Pokemon.HP" placeholder="HP" />
    <input type="number" asp-for="Pokemon.Att" placeholder="Att" />
    <input type="number" asp-for="Pokemon.Def" placeholder="Def" />
    <input type="number" asp-for="Pokemon.SpAtt" placeholder="SpAtt" />
    <input type="number" asp-for="Pokemon.SpDef" placeholder="SpDef" />
    <input type="number" asp-for="Pokemon.Spd" placeholder="Spd" />

    <input type="text" asp-for="Pokemon.SpriteUrl" placeholder="Sprite Url">

    <button type="submit">Submit</button>

</form>
