@page
@model PokemonTeamAnalyzerRazorUI.Pages.Forms.AddStatTableModel
@{
    ViewData["Title"] = "Create New Stat Table";
}

<h1>Create New Stat Table</h1>

<form method="post">

    <label>Year</label>
    <input asp-for="TableCreationData.Year" type="number" min="2020" max="2099" step="1" value="2022" placeholder="Year"/>

    <label>Month</label>
    <input asp-for="TableCreationData.Month" type="text" placeholder="Month (Ex February = 02)"/>

    <label>Generation</label>
    <input asp-for="TableCreationData.Generation" type="number" min="1" placeholder="Generation Number"/>

    <label>Format</label>
    <select asp-for="TableCreationData.Format">
        <option value="uber">UBER</option>
        <option selected value="ou">OU</option>
        <option value="uu">UU</option>
        <option value="ru">RU</option>
        <option value="nu">NU</option>
        <option value="pu">PU</option>
        <option value="lc">LC</option>
        <option value="monotype">Monotype</option>
    </select>

    <input type="submit" />

</form>
