/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*
    Grid css
*/
.grid-container {
    display: grid;
    
    grid-template-columns: auto auto auto auto auto;
}

.format-section{

    padding: 5px;
    margin: 10px;

    border: 1px solid rgba(0, 0, 0, 0.5);

}

/*Live Search Options styles
-------------------------------------------------- */

.pokemon-search-section{

    margin: 5px 0px 5px 0px;

}

.PokemonSearchBox {
    z-index: 0;
}

.LiveSearchContainer {

    width: fit-content;

}

.LiveSearchResults {

    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.LiveSearchOption {

    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.LiveSearchPokemonName{



}


.LiveSearchPokemonTypeContainer{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.LiveSearchPokemonType{

    padding: 5px;

}

.Hide{

    display: none;

}

/*Custom HTML-select styles
-------------------------------------------------- */
.custom-select{
    position: relative;
}

/*Original select must be hidden*/
.custom-select select{
    display: none;
}

.stat-section{

    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);

}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-items div, .select-selected{

    color: white;

    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;

}

.select-items{

    position: absolute;
    background-color: rgba(255, 190, 130, 0.8);

}

.select-hide{
    display: none;
}

/*Lazy image loading
------------------------------------------------- */
.lazy-load {
    position: relative;
    display: inline-block;
    width: 100%;
}

.lazy-load img {
    opacity: 1;
    transform: scale(1);
    transition: background 0.5s, opacity 0.5s, transform 0.5s;
}

.lazy-load-waiting img {
    opacity: 0;
    transform: scale(0);
    transition: none;
}

/*Custom Styles
-------------------------------------------------- */
.TypeAnalysisSection {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.main-header {
    padding: 5%;
    max-height: 150px;
}

.main-content{

    display: flex;

    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

}

.important-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

    min-height: 500px;

    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
