/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body{

    background-color: rgba(239, 64, 54, 1);

}

.pb-3 {
    background-color: white;
    margin: 0 2.5% 0 2.5%;
    padding: 2.5%;
    box-shadow: 20px 0px 20px rgba(0,0,0, 0.15), -20px 0px 20px rgba(0,0,0,0.15);

    min-height: 90vh;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

/*
    Grid css
*/
.grid-container {
    display: grid;
    
    grid-template-columns: auto auto auto auto auto;
}

.format-section{

    padding: 5px;
    margin: 10px;

    border: 1px solid rgba(0, 0, 0, 0.5);

}

/*Tooltip styles
-------------------------------------------------- */
.TooltipContainer{


}

.TooltipContainer .Tooltip {
    position: absolute;

    color: white;
    background-color: rgba(239, 64, 54, 1);

    display: flex;
    flex-direction: column;

    width: fit-content;

    text-align: center;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}

.TooltipContainer:hover .Tooltip{

    visibility: visible;
    opacity: 1;

}

.TooltipHeader{

    padding: 5px;

}

.TooltipBody{
    
    display:flex;
    flex-direction: column;

    justify-content: left;
    align-items: center;

    width: 100%;

}

.TypeTooltipPokemonTypes{

    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: center;

    padding: 3px;

}
.Type{
    padding: 3px;
}

/*Live Search Options styles
-------------------------------------------------- */
.pokemon-search-section {
    margin: 5px 0px 5px 0px;
}

.PokemonSearchBox {
    z-index: 0;
}

.LiveSearchContainer {

    width: fit-content;

}

.LiveSearchResults {

    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.LiveSearchOption {

    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.LiveSearchPokemonName{



}


.LiveSearchPokemonTypeContainer{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.LiveSearchPokemonType{

    padding: 5px;

}

.Hide{

    display: none;

}

/*Custom HTML-select styles
-------------------------------------------------- */
.custom-select{
    position: relative;
}

/*Original select must be hidden*/
.custom-select select{
    display: none;
}

.stat-section{

    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);

}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-items div, .select-selected{

    color: white;

    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;

}

.select-items{

    position: absolute;
    background-color: rgba(255, 190, 130, 0.8);

}

.select-hide{
    display: none;
}

/*Lazy image loading
------------------------------------------------- */
.lazy-load {
    position: relative;
    display: inline-block;
    width: 100%;
}

.lazy-load img {
    opacity: 1;
    transform: scale(1);
    transition: background 0.5s, opacity 0.5s, transform 0.5s;
}

.lazy-load-waiting img {
    opacity: 0;
    transform: scale(0);
    transition: none;
}

/*Custom Styles
-------------------------------------------------- */
#pokemon-search-box{

    border: 1px solid black;
    border-radius: 10px;

    width: 100%;
    padding: 3px 10px 3px 10px;

    transition: border linear 0.3s, border-radius linear 0.3s;

}
#pokemon-search-box:focus {

    border-radius: 20px;
}

.TypeAnalyzerButton {
    border: 3px solid rgb(152, 41, 35);
    border-radius: 10px;
    color: white;
    background-color: rgba(239, 64, 54, 1);
    transition: background-color linear 0.3s, border-radius linear 0.3s, border linear 0.3s, color linear 0.3s;
}

.TypeAnalyzerButton:hover {
    border: 3px solid rgba(239, 64, 54);
    border-radius: 20px;
    color: white;
    background-color: rgb(245, 136, 131);
}

#weakness-resistance-summaries {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#weakness-resistance-unchecked {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: flex-start;
}


#selected-pokemon {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem;
    grid-gap: 10px;
}

.UncheckedSummarySection{

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

}

.TypeAnalysisPokemonTile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: rgba(239, 64, 54, 1);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 10px 0px 10px rgba(0,0,0, 0.15), -10px 0px 10px rgba(0,0,0,0.15);
}

.TypeAnalysisPokemonTile .PokemonTileBody{

    display: flex;
    flex-direction: row;

}

.TypeAnalysisPokemonTile .PokemonTypes{

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    padding: 3px;

    text-align: center;

}

.TypeAnalysisSection {

    text-align: center;

    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem;
    text-align: center;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.GridItem{

    padding: 10px;

}

.TypeAnalysisPokemonTile .RemoveButton{

    border: 1px solid white;
    border-radius: 5px;

    color: black;
    background-color: white;

    transition: background-color linear 0.3s, border-radius linear 0.3s, color linear 0.3s;

}

.TypeAnalysisPokemonTile .RemoveButton:hover {
    border: 1px solid white;
    border-radius: 20px;

    color: white;
    background-color: rgb(245, 136, 131);


}

.main-header {
    padding: 5%;
    max-height: 150px;
}

.main-content{

    display: flex;

    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

}

.important-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

    min-height: 500px;

    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
}

#type-analyzer-main{

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    padding: 5px;

}

#type-analyzer-header{

    display:flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    padding: 5px;

}

#type-analyzer-button-container{

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    padding: 5px;
    width: 100%;

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 10vh;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 10vh; /* Vertically center the text there */

  background-color: white;
}
