@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles{ 

    <link href="~/css/Homepage/homepage.css" rel="stylesheet" type="text/css"/>

}

<div class="main-content text-center">
    <header class="main-header">
        <h1 class="">Pokemon Team Analyzer</h1>
    </header>

    <section id="homepage-body">
        <section class="">

            <img src="img/TypeAnalyzerHomepage-600w.jpg" width="400" height="350">
            <h3 class="SubsectionHeader">Type Analyzer</h3>
            <p>Enter pokemon and analyze their type advantages and disadvantages to fine-tune your team!</p>
            <a class="HomepageLink" asp-page="/TypeAnalyzer">Analyze Types</a>
        </section>

        <section class="border-top">
            <h3 class="SubsectionHeader">View Pokemon Data</h3>
            <img src="img/DataViewerHomepage-600w.jpg" width="400" height="350">
            <h3 class="SubsectionHeader">Pokemon Data Viewer</h3>
            <p>View Pokemon game data as well as up to date Smogon usage data!</p>
            <a class="HomepageLink" asp-page="/ViewPokemon">View Pokemon Data</a>
        </section>
    </section>


</div>

