@page
@model PokemonTeamAnalyzerRazorUI.Pages.TypeAnalyzerModel
@{
    ViewData["Title"] = "Type Analyzer";
}

<h1>Type Analyzer</h1>
<div id="pokemon-1"> 
    <select class="select-custom" id="pokemon-type-1">
        <partial name="TypeIdSelectionPartial" />
        <option selected value="18">None</option>
    </select>
    <select class="select-custom" id="pokemon-type-2">
        <partial name="TypeIdSelectionPartial" />
        <option selected value="18">None</option>
    </select>
</div>
<div id="pokemon-2">
    <select class="select-custom" id="pokemon-type-1">
        <partial name="TypeIdSelectionPartial" />
    </select>
    <select class="select-custom" id="pokemon-type-2">
        <partial name="TypeIdSelectionPartial" />
        <option selected value="18">None</option>
    </select>
</div>
<div id="pokemon-3">
    <select class="select-custom" id="pokemon-type-1">
        <partial name="TypeIdSelectionPartial" />
        <option selected value="18">None</option>
    </select>
    <select class="select-custom" id="pokemon-type-2">
        <partial name="TypeIdSelectionPartial" />
        <option selected value="18">None</option>
    </select>
</div>
<div id="pokemon-4">
    <select class="select-custom" id="pokemon-type-1">
        <partial name="TypeIdSelectionPartial" />
        <option selected value="18">None</option>
    </select>
    <select class="select-custom" id="pokemon-type-2">
        <partial name="TypeIdSelectionPartial" />
        <option selected value="18">None</option>
    </select>
</div>
<div id="pokemon-5">
    <select class="select-custom" id="pokemon-type-1">
        <partial name="TypeIdSelectionPartial" />
        <option selected value="18">None</option>
    </select>
    <select class="select-custom" id="pokemon-type-2">
        <partial name="TypeIdSelectionPartial" />
        <option selected value="18">None</option>
    </select>
</div>
<div id="pokemon-6">
    <select class="select-custom" id="pokemon-type-1">
        <partial name="TypeIdSelectionPartial" />
        <option selected value="18">None</option>
    </select>
    <select class="select-custom" id="pokemon-type-2">
        <partial name="TypeIdSelectionPartial" />
        <option selected value="18">None</option>
    </select>
</div>

<button id="analyze-button">
    Analyze
</button>

<section id="results">



</section> 


<script>
    let p1Type1 = document.querySelector("#pokemon-1 #pokemon-type-1");
    let p1Type2 = document.querySelector("#pokemon-1 #pokemon-type-2");

    let p2Type1 = document.querySelector("#pokemon-2 #pokemon-type-1");
    let p2Type2 = document.querySelector("#pokemon-2 #pokemon-type-2");

    let p3Type1 = document.querySelector("#pokemon-3 #pokemon-type-1");
    let p3Type2 = document.querySelector("#pokemon-3 #pokemon-type-2");

    let p4Type1 = document.querySelector("#pokemon-4 #pokemon-type-1");
    let p4Type2 = document.querySelector("#pokemon-4 #pokemon-type-2");

    let p5Type1 = document.querySelector("#pokemon-5 #pokemon-type-1");
    let p5Type2 = document.querySelector("#pokemon-5 #pokemon-type-2");

    let p6Type1 = document.querySelector("#pokemon-6 #pokemon-type-1");
    let p6Type2 = document.querySelector("#pokemon-6 #pokemon-type-2");

    let analyzeButton = document.getElementById("analyze-button");
    let results = document.getElementById("results");

    function GetTypeAnalysisResultsAndUpdatePage() {

        console.log("Getting type analysis results");

        $.ajax({
            dataType: 'html',
            url: 'Shared/TypeAnalysis',
            type: 'GET',
            data: {
                pokemon1Type1Id: p1Type1.value,
                pokemon1Type2Id: p1Type2.value,
                pokemon2Type1Id: p2Type1.value,
                pokemon2Type2Id: p2Type2.value,
                pokemon3Type1Id: p3Type1.value,
                pokemon3Type2Id: p3Type2.value,
                pokemon4Type1Id: p4Type1.value,
                pokemon4Type2Id: p4Type2.value,
                pokemon5Type1Id: p5Type1.value,
                pokemon5Type2Id: p5Type2.value,
                pokemon6Type1Id: p6Type1.value,
                pokemon6Type2Id: p6Type2.value
            },
            success: function (data) {
                console.log("success");
                results.innerHTML = data;
            },
            error: function (e) {
                console.log("failure")
                alert("Error: " + e);
            }

        });

    }

    analyzeButton.addEventListener("click", GetTypeAnalysisResultsAndUpdatePage);

</script>