@page
@model PokemonTeamAnalyzerRazorUI.Pages.TypeAnalyzerModel
@{
    ViewData["Title"] = "Type Analyzer";
}

@section Styles{ 

    <link href="~/css/TypeAnalyzer/type-analyzer.css" rel="stylesheet" type="text/css">

}

<section id="type-analyzer-main">

    <section id="type-analyzer-header">

        <h1>Type Analyzer</h1>

        <section id="pokemon-search-boxes">

            <div class="LiveSearchContainer">
                <input class="PokemonSearchBox" id="pokemon-search-box" type="text" placeholder="Pokemon Name"/>
                <div class="LiveSearchResults Hide" id="live-search">
                </div>
            </div>

        </section>


        <div id="type-analyzer-button-container">

            <button class="TypeAnalyzerButton" id="add-pokemon-button">Add Pokemon</button>

            <button class="TypeAnalyzerButton" id="analyze-button">
                Analyze
            </button>

        </div>

    </section>

    <div id="selected-pokemon">
    </div>

    <section id="results">

        <p>Enter pokemon names in the search box and select a result or click 'Add Pokemon' to add a pokemon to the 
        team type analysis.</p>

        <p>Click 'Analyze' to calculate the type analysis of all currently added pokemon.</p>

    </section>

</section>

<script src="~/js/TypeAnalyzer/typeAnalyzer.js"></script>