@page
@model PokemonTeamAnalyzerRazorUI.Pages.ViewPokemonModel
@{
    ViewData["Title"] = "View Pokemon";
}

@section Styles{ 

    <link href="~/css/PokemonViewer/pokemonViewer.css" rel="stylesheet" type="text/css">
    <link href="~/css/lazy-loading.css" rel="stylesheet" type="text/css">
    <link href="~/css/custom-select.css" rel="stylesheet" type="text/css">

}

<script src="https://code.jquery.com/jquery-3.6.0.min.js">
</script>

<h1>View Pokemon Data</h1>


<div id="filters">

    <input class="Filter" id="name-filter" type="text" placeholder="Pkmn Name" />

    <div class="select-custom Filter">
        <select id="type-filter-1">
            <partial name="TypeSelectionPartial" />
        </select>
    </div>

    <div class="select-custom Filter">
        <select id="type-filter-2">
            <partial name="TypeSelectionPartial" />
            <option value="NONE">None</option>
        </select>
    </div>

    <input class="Filter" id="ability-name-filter" type="text" placeholder="Ability Name" />

</div>



<div id="view-results-div">

</div>


<script src="~/js/LazyImageLoadBrowser.js"></script>
<script src="~/js/CustomSelect.js"></script>
<script src="~/js/PokemonViewer/pokemonViewer.js"></script>



