@page
@model PokemonTeamAnalyzerRazorUI.Pages.ViewPokemonModel
@{
    ViewData["Title"] = "View Pokemon";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js">
</script>

<h1>View Pokemon Data</h1>


<div id="filters">

    <input id="name-filter" type="text" placeholder="Pkmn Name" />

    <select class="select-custom" id="type-filter-1">
        <partial name="TypeSelectionPartial" />
    </select>

    <select class="select-custom" id="type-filter-2">
        <partial name="TypeSelectionPartial" />
        <option value="NONE">None</option>
    </select>

    <input id="ability-name-filter" type="text" placeholder="Ability Name" />

</div>



<div id="view-results-div">

</div>


<script src="~/js/LazyImageLoadBrowser.js"></script>
<script>

    let view_results = document.getElementById("view-results-div");

    let nameFilter = document.getElementById('name-filter');
    let typeFilter = document.getElementById('type-filter-1');
    let typeFilter2 = document.getElementById('type-filter-2');
    let abilityFilter = document.getElementById('ability-name-filter');

    let searchTimerHandle = null;
    let searchDelay = 500;

    nameFilter.addEventListener("input", OnFilterInputChanged);
    abilityFilter.addEventListener("input", OnFilterInputChanged);
    typeFilter.addEventListener("input", OnFilterInputChanged);
    typeFilter2.addEventListener("input", OnFilterInputChanged);

    function OnFilterInputChanged() {

        if (searchTimerHandle != null) {
            clearTimeout(searchTimerHandle);
            console.log("Previous search canceled");
        }

        searchTimerHandle = setTimeout(updateResults, searchDelay);

    }

    function updateResults() {
        console.log("searching...");

        $.ajax({

            dataType: 'html',
            url: 'Shared/PokemonView',
            type: 'GET',
            data: {
                SearchString: nameFilter.value,
                TypeFilter: typeFilter.value,
                TypeFilter2: typeFilter2.value,
                AbilityNameFilter: abilityFilter.value
            },
            success: function (data) {
                view_results.innerHTML = data;
                ConfigureLazyLoading();
            },
            error: function (e) {
                alert("Error: " + e);
            }

        });

        searchTimerHandle = null;

    }

    //Load all results by default when loading the page
    updateResults();

</script>

