@page
@model PokemonTeamAnalyzerRazorUI.Pages.ViewPokemonModel
@{
    ViewData["Title"] = "View Pokemon";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js">
</script>

<h1>View Pokemon Data</h1>


<div id="filters">

    <input id="name-filter" type="text" placeholder="Pkmn Name" />

    <select id="type-filter-1">
        <partial name="TypeSelectionPartial" />
    </select>

    <select id="type-filter-2">
        <partial name="TypeSelectionPartial" />
        <option value="NONE">None</option>
    </select>

    <input id="ability-name-filter" type="text" placeholder="Ability Name"/>

    <button id="search-button" value="Search">Search</button>

</div>



<div id="view-results-div">

</div>

<script>

    document.getElementById('search-button').addEventListener("click", updatePage)

    var view_results = document.getElementById("view-results-div");
    var nameFilter = document.getElementById('name-filter');
    var typeFilter = document.getElementById('type-filter-1');
    var typeFilter2 = document.getElementById('type-filter-2');
    var abilityFilter = document.getElementById('ability-name-filter');

    function updatePage() {
        $.ajax({

            dataType: 'html',
            url: 'Shared/PokemonView',
            type: 'GET',
            data: {
                SearchString: nameFilter.value,
                TypeFilter: typeFilter.value,
                TypeFilter2: typeFilter2.value,
                AbilityNameFilter: abilityFilter.value
            },
            success: function (data) {
                view_results.innerHTML = data;
                console.log("anything");
            },
            error: function (e) {
                alert("Error: " + e);
            }

        });
    }

</script>
